

nav {
    background: #000028;
    opacity: 1;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#theadAlimento {
    color: white;
    background: #000028;
}

    #theadAlimento th {
        border-color: white;
    }

#containerDell {
    display: flex;
    margin-top: 100px;
    justify-content: center;
}

th {
    background: #000028;
    color: white;
    border: solid 1px white;
}

#box-tableDell table {
    width: 100%;
}

#btns {
    display: flex;
}

#btnCancelar {
    width: 100%;
    margin-right: 5px;
    margin-top: 20px;
    text-align: center;
    background: #000028;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

#btnExcluir {
    width: 100%;
    margin-left: 5px;
    margin-top: 20px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background: red;
}
