@model LoginModel
@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "login";
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}

<form asp-controller="LoginController1" asp-action="LoginUsuario" method="post">

    <section style="background-color: #eee;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                    <div class="card rounded-3 text-black">
                        <div class="row g-0">
                            <div class="col-lg-6">
                                <div class="card-body p-md-5 mx-md-4">

                                    <div class="text-center">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                                             style="width: 185px;" alt="logo">
                                        <h4 class="mt-1 mb-5 pb-1">Nos somos o InovaEstoque</h4>
                                    </div>

                                    <form>
                                        <p>Por favor faça login com sua conta</p>

                                        <div class="mb-3">
                                            <label for="login" class="form-label">Login</label>
                                            <input type="text" asp-for="Email" class="form-control" id="email">
                                            @Html.ValidationMessageFor(X => X.Email)
                                        </div>

                                        <div class="mb-3">
                                            <label for="Senha" class="form-label">Senha</label>
                                            <input type="password" asp-for="Senha" class="form-control" id="senha">
                                            @Html.ValidationMessageFor(X => X.Senha)
                                        </div>

                                        <div class="text-center pt-1 mb-5 pb-1">
                                            <button type="submit" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3">Entrar</button>
                                            <div>
                                                <hi>OU</hi>
                                            </div>
                                            <a asp-action="Recadastro" asp-controller="LoginController1" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3">Esqueceu a senha</a>

                                            <hr>

                                            <a asp-action="inicio" asp-controller="LoginController1" class="btn btn-primary btn-block fa-lg">Voltar para a home</a>
                                        </div>
                                        


                                    </form>

                                </div>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                    <h4 class="mb-4">We are more than just a company</h4>
                                    <p class="small mb-0">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>