@model UsuarioModel
@{
    ViewData["Title"] = "Listagem logs de retiradas de Alimentos";
}

<h1>Lista de Alimentos Óla, @Model.NomeUsuario</h1>

<link rel="stylesheet" href="~/css/EstoqueCSS/indexEstoque.css" />
@if (Model.Funcao == WebApplication1.Enums.PerfilEnum.adimin)
{
    <a onclick="javascrip:" class="btn btn-sm btn-Modal-Criar-Alimento" id="btnNovoAlimento">Adicionar novo Alimento</a>
    <a class="btn btn-sm btn-Modal-Criar-Alimento" id="btnNovoAlimento" asp-area="" asp-controller="Logs" asp-action="Index">logs</a>
}
<a onclick="javascrip:" class="btn btn-sm btn-Modal-Listar-AlimentoAcabando" id="btnNovoAlimento">Alimentos abaixo do nivel</a>
<a onclick="javascrip:" class="btn btn-sm btn-Modal-Listar-AlimentoVencendo" id="btnNovoAlimento">Alimentos Perto de vencer</a>
