@model List<LogsModel>
@{
    ViewData["Title"] = "Listagem logs de retiradas de Alimentos";
}


<link rel="stylesheet" href="~/css/EstoqueCSS/indexEstoque.css" />
<a asp-action="viewImprimirVencendo" asp-controller="Alimento" class="btn btn-primary">Gerar relatorio</a>
<section>
    <table class="table table-Alimento" id="table-Vencendo">
        <thead>
            <tr class="text-bg-danger">
                <th id="codigo">IdAlimento</th>
                <th scope="col">Nome Alimeto</th>
                <th scope="col">Usuario Retirou</th>
                <th scope="col">Data Retira</th>
                <th scope="col">Quantidade Retirada</th>
                <th scope="col">obs De Saida</th>
            </tr>
        </thead>
        <tbody>

            @if (Model != null && Model.Any())
            {
                foreach (LogsModel logs in Model)
                {
                    if(logs.DataRetira != null)
                    {
               
                    }
                }
            }
        </tbody>
    </table>

</section>

<script>
    function fecharMensagem() {

        let msg = document.getElementById("AlertOfSucess");
        msg.style.display = 'none';
    }
</script>