@model AlimentoModel
@{
    ViewData["Title"] = "Confirmação de apagar o Fornecedor";
}

<link rel="stylesheet" href="~/css/AlimentoCSS/indexAlimento.css" />
<link rel="stylesheet" href="~/css/AlimentoCSS/excluirRegistro.css" />

<div id="containerDell" class="modal-extra-large">
    <div id="box-tableDell">
        <h1 class="text-danger">Registro de alterações</h1>
        <div id="">
            <table>
                <tr>
                    <th scope="col">#Alimento</th>
                    <th scope="col">Alimento</th>
                    <th scope="col">Data de retirada</th>
                    <th scope="col">Usuario retirou</th>
                    <th scope="col">OBS de retirada</th>
                </tr>
                <tr>
                    <td>@Model.Id</td>
                    <td>@Model.nomeAlimento</td>
                    <td>@Model.DataRetira</td>
                    <td>@Model.UsuarioRetirou</td>

                </tr>
            </table>
        </div>
    </div>
</div>

<style>
    .modal-extra-large {
        max-width: 98%;
    }
</style>