@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Página Restrita";
}

<p>
    Você não tem permição para acessar essa funcionalidade<a asp-controller="home" asp-action="Index">clik aqui para voltar</a>
</p>