@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Página Restrita";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container {
            position: center;
            width: 100%;
        }

           

        .alert {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(255, 0, 0, 0.7); /* cor de fundo semitransparente */
            color: black; /* cor do texto */
            padding: 20px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        
        <div class="alert alert-danger">
            <h4 class="alert-heading">Acesso Negado!</h4>
            <p>Desculpe, mas você não possui permissão para acessar esta funcionalidade. <a asp-controller="home" asp-action="Index">clik aqui para voltar</a>.</p>
        </div>
    </div>
</body>
</html>


       

            
