<!DOCTYPE html>

@{
    ViewData["Title"] = "Página inicial";
}


<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>One Page Wonder - Start Bootstrap Template</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/css/carrosel.css" />

</head>
<body id="page-top">
    <!-- Navigation-->
    <!-- Header-->
    <header class=" masthead text-center text-white gradient-custom-2">
        <div class="masthead-content">
            <div class="container px-5 ">
                <h1 class="masthead-heading mb-0">InovaEstoque</h1>
                <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">Saiba Mais</a>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>
    <!-- Content section 1-->
    <section id="scroll">
        <div>
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2 rounded-circle ">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="img-fluid rounded-circle " src="~/imagens/1.png.jpeg" alt="..." />
                            </div>
                            <div class="carousel-item">
                                <img class="img-fluid rounded-circle " src="~/imagens/2.png.jpeg" alt="..." />
                            </div>
                            <div class="carousel-item">
                                <img class="img-fluid rounded-circle " src="~/imagens/3.png.jpeg" alt="..." />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">O que é o InovaEstoque</h2>
                        <p>
                            O InovaEstoque é um sistema inovador projetado para informatizar e otimizar seu controle de estoque.
                            Com ele, você pode acompanhar facilmente a entrada e saída de alimentos, garantindo que você sempre saiba exatamente o que tem em mãos.
                            Além disso, o InovaEstoque oferece controle da data de validade dos produtos.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Content section 2-->
    <section>
        <div class="row gx-5 align-items-center">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <div class="col-lg-6 order-lg-2 rounded-circle ">
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="img-fluid rounded-circle " src="~/imagens/3.png.jpeg" alt="..." />
                                </div>
                                <div class="carousel-item">
                                    <img class="img-fluid rounded-circle " src="~/imagens/2.png.jpeg" alt="..." />
                                </div>
                                <div class="carousel-item">
                                    <img class="img-fluid rounded-circle " src="~/imagens/1.png.jpeg" alt="..." />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">Como podemos ajudar</h2>
                        <p>
                            Um dos maiores desafios ao lidar com alimentos é garantir que eles sejam utilizados antes de atingir a data de validade.
                            O InovaEstoque simplifica isso ao monitorar automaticamente as datas de validade de todos os produtos em seu estoque.
                            Quando um produto está próximo do vencimento, o sistema alerta você, permitindo que você tome medidas para evitar desperdícios.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Content section 3-->
    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="col-lg-6 order-lg-2 rounded-circle ">
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="img-fluid rounded-circle " src="~/imagens/2.png.jpeg" alt="..." />
                                </div>
                                <div class="carousel-item">
                                    <img class="img-fluid rounded-circle " src="~/imagens/3.png.jpeg" alt="..." />
                                </div>
                                <div class="carousel-item">
                                    <img class="img-fluid rounded-circle " src="~/imagens/1.png.jpeg" alt="..." />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Trabalhando junto</h2>
                        <p>
                            O InovaEstoque também ajuda a gerenciar seus relacionamentos com fornecedores.
                            Ele mantém um registro de quais produtos foram fornecidos por quais fornecedores,
                            facilitando o rastreamento e a resolução de quaisquer problemas que possam surgir.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
</html>
