*{
    margin: 0;padding: 0;
}

.carrosel{
    width: 391px;
    height: 360px;
    overflow: hidden;
    margin: 50px auto;
    
}

.carrosel ul{
    display:flex;
    list-style: none;
    width: 1200px;
    height: 250px;
}

.carrosel li{
    position:relative;
    animation: slide 5s infintte ease-out;
}

@keyframes slides {
    0% {left:0px}

    50% {left: -300px}

    100% {left: 0px}
}